<div class="tutorials-container">
    <div class="title">
        <h3>Tutorials</h3>
        <p>Welcome to the Angular tutorials! These tutorials will guide you through the core concepts of the framework, and get you started building performant, scalable apps.</p>
    </div>
    <div class="body">
        <div class="box">
            <mat-card style="overflow: hidden;">
                <mat-card-header style="padding: 0;">
                    <img mat-card-image src="../../assets/tutorials.png">
                </mat-card-header>
                <mat-card-content style="padding: 20px;">
                    <mat-card-title>learn angular in your browser</mat-card-title>
                    <mat-card-subtitle>via the playground</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary" routerLink="/tutorials/learn-angular">start coding</button>
                </mat-card-actions>
            </mat-card>              
        </div>
        <div class="box">
            <mat-card style="overflow: hidden;">
                <mat-card-header style="padding: 0;">
                    <img mat-card-image src="../../assets/programming.jpg">
                </mat-card-header>
                <mat-card-content style="padding: 20px;">
                    <mat-card-title>build your first app locally</mat-card-title>
                    <mat-card-subtitle>via npm</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary">start coding</button>
                </mat-card-actions>
            </mat-card>     
        </div>
    </div>
</div>
